// FONTS/COLOR
h1, h2, h3
    font-family: 'Oswald', sans-serif

h1, h2
    text-align: center
    

h1, h3, p
    color: $blackBlue
h2
    color: $mediumBlue

p
    font-size: 1.1rem
    font-family: 'Roboto', sans-serif

// COMPONENT HEADLINE
.headline
    font-size: 3rem
    letter-spacing: 10px
    padding: 15px
    margin-bottom: 30px

.disabled
    cursor: default

// CENTER DIV ON PAGE
.center-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 100%

.btn
    font-size: 1.2rem
    background: $mediumBlue
    color: $whiteBlue

.homeLink
    display: none