#cv
    min-height: 100vh
// headlines
.cv
    &__about
        //border-bottom: 2px solid $mediumBlue
        margin: 0 auto
        padding-bottom: 15px
        margin-bottom: 30px
        margin-top: 30px
    &__experience
        &--headline
            text-align: center
            border-bottom: 2px solid $mediumBlue
            line-height: 55px
    &__education
        &--headline
            text-align: center
            border-bottom: 2px solid $mediumBlue
            line-height: 55px
    &__other
        text-align: center
        &--headline
            text-align: center
            border-bottom: 2px solid $mediumBlue
            line-height: 55px
    &__references
        &--headline
            text-align: center
            border-bottom: 2px solid $mediumBlue
            line-height: 55px