#portfolio
    min-height: 100vh

.intro
    margin-bottom: 25px

.card
    border: none
    margin-bottom: 2.5rem
    &__inner
        border: none
    &-title
        margin-top: 10px

.cardLogo
    width: 65%
    height: auto

.card__flip__front
    &--img
        width: 100%
        height: calc(100% - 46px)
    &--stack
        position: absolute
        bottom: 0px
        padding: 5px 0px
        width: 100%
        background: rgba(230, 244, 241, .9)

.btnGit
    border-radius: 0
    width: 100%
    border: none
    background-color: $gitBtn
    border-bottom: none
    color: $whiteBlue
    font-size: 2.5rem
    line-height: 0
    &:hover
        background-color: $gitBtnHover
    &:disabled
        border-color: $blackBlue
        background: $red

.btnDemo
    border-radius: 0 0 .25rem .25rem
    width: 100%
    color: $whiteBlue
    font-size: 2.5rem
    line-height: 0
    &:hover

    &:disabled
        border-color: $blackBlue
        background: $red
